button{
    background-color: orangered;
    font-size: 20px;
    padding: 15px 20px;
    color: black;
}
.heading{
    padding: 15px 15px;
}

.Counter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.count{
    padding: 15px 15px;
}


.multiplyCount{
    padding: 15px 15px;
}