.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 25px;
  background-color: #222222;
  color: white
}
input[type=text] {
  width: 20%;
  margin: 4px 0;
  box-sizing: border-box;
}
input[type=password] {
  width: 20%;
  margin: 4px 0;
  box-sizing: border-box;
}
.spanEmail{
  padding-left:60px;
}
.spanSPass{
  padding-left:40px;
}
.spanSRPass{
  padding-left: 10px;
}
.signUp{
  margin-top: 10px;
  margin-bottom: 10px;
}

.email{
  padding: 10px;
}
.DepthDescription{
  padding: 10px;
  margin-right: 20%;
}

.LoginComponent{
  padding: 20px 20px 20px 20px;
}

.App {
  text-align: center;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.progressFunction{
  margin-top: 5%;
}

.progressButton{
  margin: 5% 5% 5% 5%;
}

.App-link {
  color: #61dafb;
}

.count{
  padding: 20px 20px 20px 20px;
}

.github{
  padding-left: 20px;
}

/* Login CSS */
.login{
  padding-top: 50px;
  padding-bottom: 20px;
}

.userName{
  padding-bottom: 15px;
  font-family:Arial, Helvetica, sans-serif;
}

.password{
  padding-bottom: 15px;
  font-family:Arial, Helvetica, sans-serif;
}

.spanUser{
  padding-left: 40px;
}

.spanPass{
  padding-left: 10px;
}


.forgotCredentials{
  padding-top: 15px;
}

 /* Welcome Component CSS */
.welcome{
  padding-top: 40px;
  padding-bottom: 20px;
}

/* ListToDos CSS */
.ListToDos{
  padding-top: 20px;
}

.todosHeading{
  padding-bottom: 20px;
}

.NewTodo{
  position: absolute;
    
}

.countButton{
  margin-left: 20px;

}

.signup{
  margin-bottom: 20px;
  margin-top: 20px;
}

